@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --darkest-gray: #2e3440;
  --darker-gray: #3b4252;
  --dark-gray: #434c5e;
  --gray: #4c566a;
  --white: #d8dee9;
  --lighter-white: #e5e9f0;
  --lightest-white: #eceff4;
  --light-green: #8fbcbb;
  --teal: #88c0d0;
  --light-blue: #81a1c1;
  --blue: #5e81ac;
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --purple: #b48ead;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: var(--darkest-gray);
  color: var(--lightest-white);
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  padding: 100px 10vw;
}

.red {
  background: var(--red);
}

.orange {
  background: var(--orange);
}

.yellow {
  background: var(--yellow);
}

.green {
  background: var(--green);
}

.blue {
  background: var(--blue);
}

.purple {
  background: var(--purple);
}

.red-to-orange {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.red-to-orange svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 150px;
}

.red-to-orange .shape-fill {
    fill: #d08770;
}

.orange-to-yellow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.orange-to-yellow svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 100px;
}

.orange-to-yellow .shape-fill {
    fill: #ebcb8b;
}

.yellow-to-green {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.yellow-to-green svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 91px;
}

.yellow-to-green .shape-fill {
    fill: #a3be8c;
}

.green-to-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.green-to-blue svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 78px;
}

.green-to-blue .shape-fill {
    fill: #a3be8c;
}

.blue-to-purple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.blue-to-purple svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.blue-to-purple .shape-fill {
    fill: #5e81ac;
}
